
.col-sm-4 {
    background-color: lightgrey;
    border-color: salmon;
    top:        35px;
    border-style: solid;
    border-radius: 15px;

    margin-right: 0%;
}

.col-sm-8 {
    background-color: lightgrey;
    border-color: salmon;
    top:        25px;
    border-style: solid;
    border-radius: 15px;

    margin-right: 0%;
}

.col-lg-4 {
    border-style: solid;
    border-radius: 15px;
    margin-top: 0%;
    margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%;
}

.btn-play{
    position: relative;
    background-color: green;
    font-size: x-large;
    margin-left: 110px;
    margin-top: 1%;
    margin-bottom: 1%;;
}

.btn-reset{
    position: relative;
    background-color: salmon;
    font-size: x-large;
    margin-left: 110px;
    margin-top: 1%;
    margin-bottom: 1%;;
}